.DS_Store
/.build
out/
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
Sandbox/
Demos
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
Package.resolved

